.submitButton {
  border-radius: 28px;
  background-color: #f5a624;
  color: white;
  border: none;
  margin-bottom: 12px;
}

.checkboxRet {
  color: #f5a624 !important;
  font-weight: bold;
}
